# Módulo 05 - Tratamento, análise e Machine Learning aplicado

## Bibliotecas Importadas

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
#!pip install plotly==4.12.0

In [ ]:
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

## Parte 01 - Machine Learning e Saúde

In [ ]:
url = 'https://github.com/marcelagomescorrea/bootcamp_alura/blob/main/Modulo_05/datasets/Kaggle_Sirio_Libanes_ICU_Prediction.xlsx?raw=true'
dados = pd.read_excel(url)
dados.head()

   PATIENT_VISIT_IDENTIFIER  AGE_ABOVE65  ...    WINDOW  ICU
0                         0            1  ...       0-2    0
1                         0            1  ...       2-4    0
2                         0            1  ...       4-6    0
3                         0            1  ...      6-12    0
4                         0            1  ...  ABOVE_12    1

[5 rows x 231 columns]

In [ ]:
dados.describe()

       PATIENT_VISIT_IDENTIFIER  ...          ICU
count               1925.000000  ...  1925.000000
mean                 192.000000  ...     0.267532
std                  111.168431  ...     0.442787
min                    0.000000  ...     0.000000
25%                   96.000000  ...     0.000000
50%                  192.000000  ...     0.000000
75%                  288.000000  ...     1.000000
max                  384.000000  ...     1.000000

[8 rows x 229 columns]

In [ ]:
dados['ICU'].value_counts()

0    1410
1     515
Name: ICU, dtype: int64

## Parte 02 - Desenvolvimento no Kaggle

### Desafio 01 - Tipos de aprendizados

Pesquisar aprendizado supervisionado, não supervisionado, por reforço e mais

Aprendizado **supervisionado**

- treinados por meio de exemplos rotulados
-  utiliza como entrada um conjunto prévio de dados coletados do mundo real e utilizado para "treinamento";
- todas as entradas e saídas são conhecidas;
- ex.: transaçõa via cartão de crédito (fraude ou não), emails (SPAM ou não)


---


Aprendizado **não supervisionado**

- o algoritmo não recebe um conjunto de dados prévio;
- objetivo: explorar os dados e encontrar algum padrão dentro deles;
- o sistema é alimentado apenas com dados de entrada;


---


Aprendizado **por reforço**

- pode ser utilizado para as mesmas aplicações que o aprendizado supervisionado;
- manipula tanto dados rotulados quanto não-rotulados para treinamento;
- pode ser empregado com métodos como classificação, regressão e previsão;
- útil quando o custo associado à rotulação é muito alto;

---


Aprendizado **por reforço**

- o sistema requalifica suas regras de avaliação com base em feedbacks observados do mundo;
-  o algoritmo descobre através de testes do tipo 'tentativa e erro' quais ações rendem as maiores recompensas;
- geralmente utilizado em robótica, jogos e navegação;

### Desafio 02 - Subtipos de aprendizados

Pesquisar sobre regressão, classificação e etc.

Dentro do **aprendizado supervisionado**, temos:

---

**Classificação**

- processo de tomar algum tipo de entrada e atribuir um rótulo a ela;
- usados ​​geralmente quando as previsões são de natureza distinta, ou seja, binárias;

---

**Regressão**

- usada quando o valor que está sendo previsto difere de algo binário e siga um espectro contínuo;
- ex.: quanto custa, quantos existem, etc;

Dentro do **aprendizado NÃO supervisionado**, temos:

---

**Clustering (ou agrupamento)**

- agrupa os dados em clusters (grupos) baseado em suas características/variáveis;
- geralmente é utilizado para uma melhor visualização dos dados, para estudar padrões de comportamento e parar detectar outliers.

## Parte 03 - Modelos de Machine Learning

In [ ]:
x_columns = dados.describe().columns
dados_limpos = dados.dropna()

In [ ]:
y = dados_limpos['ICU']
X = dados_limpos[x_columns].drop(['ICU'], axis=1)

In [ ]:
modelo = LogisticRegression() # supervisionado com regressão
modelo.fit(X, y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning:

lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
modelo.predict([X.iloc[4]])

array([1])

In [ ]:
y.iloc[4]

1

In [ ]:
sum(modelo.predict(X) == y)

496

In [ ]:
sum(modelo.predict(X) != y)

49

In [ ]:
accuracy = sum(modelo.predict(X) == y) / len(y) * 100
accuracy

91.00917431192661

### Desafio 03 - Leaky Features

Qual o motivo de jogar fora o ICU do dado X? O que acontece se estiver no X? Porque seria bom/ruim?

O ICU, no caso do nosso conjunto de dados, é uma ***leaky features**, ou seja, é uma variável que causa vazamento de informações. Essa variáveis contêm dados sobre o futuro ou o objetivo.

Usando a base clássica com dados do Titanic como exemplo, queremos usar um modelo de Machine Learning para tentar prever se um indivíduo sobreviveu ou não. Colunas como *body* (identificação do corpo) e *boat* (bote salva-vidas), acabam nos indicando que a pessoa não sobreviveu e sobreviveu, respectivamente. 

Se utilizarmos essas colunas como features para treinar nosso modelo, ele poderia utizá-las para 'trapacear'.


---
**Fontes**:

https://towardsdatascience.com/detecting-data-leakage-in-ml-pipelines-using-nans-and-complex-numbers-66a066116b40

Livro *Machine Learning - Guia de Referência Rápida* - Matt Harrison

In [ ]:
X2 = dados_limpos[x_columns]
modelo2 = LogisticRegression() # supervisionado com classificação
modelo2.fit(X, y)
accuracy = sum(modelo.predict(X) == y) / len(y) * 100
accuracy

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning:

lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression

91.00917431192661

### Desafio 04 - Ética em Inteligência Artificial

Pesquisar sobre a ética em ciência de dados e inteligência artificial

---

Atualmente, vivemos em um tempo de rápidas mudanças tecnológicas, onde muitos dos aspectos do nosso dia a dia são influenciados por dispositivos. Com a inteligência artificial (IA) não poderia ser diferente, uma simples busca de um termo no Google já envolve IA ao sugerir termos para completar a pesquisa.

No entanto, por se tratar de um tema relativamente atual, poucas são as legislações sobre o assunto. Diversas entidades como a ONU, a OCDE e a União Europeia trabalham para criar documentos que sirvam de base para um uso ético da tecnologia.

Mas porque IA é um tema tão polêmico?

Desde o início da pandemia, diversos são os esforços para rastrear indivíduos positivos para a COVID como medida principal de combate ao vírus. Nesse sentido, uma tecnologia muito empregada tem sido o reconhecimento facial, um dos campos de aplicação da IA que levanta muita discussão em torno da privacidade.

Além disso, será que há benefícios ter armas que definam seus alvos e disparam automaticamente? Um bot que seleciona contratados seria confiável?

Peguemos o segundo exemplo, vamos imaginar que uma empresa fictícia X, possua um bot que utiliza IA para selecionar os melhores currículos com base no atual quadro da empresa, ou seja, o objetivo dele é selecionar os candidatos com o perfil mais próximo possível dos colaboradores da empresa. Mas e se a empresa tiver em 80% do seu quadro apenas homens? O bot provavelmente daria preferência a candidatos homens. 

Em outros termos, se nossos dados tiverem algum viés, nossos algoritmos de IA também apresentarão esses "defeitos".


---
**Fontes**:

Folha - [Inteligência artificial enfrenta questões éticas para ter evolução responsável](https://temas.folha.uol.com.br/inteligencia-artificial/os-limites-da-ia/inteligencia-artificial-enfrenta-questoes-eticas-para-ter-evolucao-responsavel.shtml)

Wikipedia - [Ética na Inteligência Artificial](https://pt.wikipedia.org/wiki/%C3%89tica_na_intelig%C3%AAncia_artificial)


Inova.jor - [Quais são os desafios éticos da IA](https://www.inova.jor.br/2020/04/15/quais-sao-os-desafios-eticos-da-inteligencia-artificial/)

## Parte 04 - Métricas e Avaliações

In [ ]:
y.value_counts()

0    281
1    264
Name: ICU, dtype: int64

In [ ]:
modelo = DummyClassifier('most_frequent')
modelo.fit(X, y)
accuracy_baseline = sum(modelo.predict(X) == y) / len(y) * 100
accuracy_baseline

51.559633027522935

In [ ]:
accuracy_score(y, modelo.predict(X))

0.5155963302752293

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, y)

In [ ]:
display(y_train.value_counts(normalize=True))
display(y_test.value_counts(normalize=True))

0    0.512255
1    0.487745
Name: ICU, dtype: float64

0    0.525547
1    0.474453
Name: ICU, dtype: float64

In [ ]:
np.random.seed(73246)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, y, stratify=y) # stratify mantém a proporção dos dados

In [ ]:
display(y_train.value_counts(normalize=True))
display(y_test.value_counts(normalize=True))

0    0.514706
1    0.485294
Name: ICU, dtype: float64

0    0.518248
1    0.481752
Name: ICU, dtype: float64

In [ ]:
print(len(x_train), len(y_train))
print(len(x_test), len(y_test))

408 408
137 137

In [ ]:
modelo = LogisticRegression()
modelo.fit(x_train, y_train)

y_prediction = modelo.predict(x_test)
accuracy_score(y_test, y_prediction) * 100

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning:

lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression

83.21167883211679

### Desafio 05 - Tamanho dos dados de teste e treino

Decida quanto você vai escolher para treino e quanto para teste? Quanto as pessoas utilizam e qual o motivo? Olhar a documentação

A resposta é que, como regra prática, você precisa de aproximadamente 10 vezes mais exemplos do que os *graus de liberdade* em seu modelo.

No caso de um modelo linear, os graus de liberdade são essencialmente iguais à dimensionalidade dos dados (um número de colunas). Descobrimos que pensar em termos de dimensionalidade versus número de exemplos é um atalho conveniente.

Quanto mais poderoso o modelo, mais ele está sujeito a overfitting e, portanto, mais exemplos você precisa. E, claro, a maneira de controlar isso é por meio da validação.

---

**Fonte**:

FastML - [How much data is enough?](http://fastml.com/how-much-data-is-enough/)

### Desafio 06 - Documentação LogisticRegression

Olhar a documentação do **LogisticRegression**. O que tem de parâmetro em comum com o train_test_split? O que isso significa para nós?

Um parâmetro em comum com os dois é o *random_state*, o que nos permite usar o mesmo seed, removendo a aleatoriedade.

## Parte 05 - Compreendendo o problema real

In [ ]:
dados_fake = pd.DataFrame([[1, 1], [1, None]])
dados_fake

   0    1
0  1  1.0
1  1  NaN

In [ ]:
dados_fake.fillna(method='ffill')

   0    1
0  1  1.0
1  1  1.0

In [ ]:
dados_fake = pd.DataFrame([[1, 1], [1, None], [2, 3.0], [2, None]])
dados_fake.fillna(method='ffill')

   0    1
0  1  1.0
1  1  1.0
2  2  3.0
3  2  3.0

In [ ]:
dados_fake = pd.DataFrame([[1, 1], [1, None], [2, None], [2, None]])
dados_fake.fillna(method='ffill')

   0    1
0  1  1.0
1  1  1.0
2  2  1.0
3  2  1.0

In [ ]:
dados_fake = pd.DataFrame([[1, 1, 1], [1, None, 2], [2, None, 1], [2, None, 2]],
                          columns=['usuario', 'medida', 'janela'])
dados_fake

   usuario  medida  janela
0        1     1.0       1
1        1     NaN       2
2        2     NaN       1
3        2     NaN       2

In [ ]:
dados_fake.groupby('usuario', as_index=False)['medida'].fillna(method='ffill')

   medida
0     1.0
1     1.0
2     NaN
3     NaN

In [ ]:
dados_fake = pd.DataFrame([[1, None, 1], [1, 2.5, 2],
                           [2, 3.0, 1], [2, None, 2]],
                          columns=['usuario', 'medida', 'janela'])
dados_fake

   usuario  medida  janela
0        1     NaN       1
1        1     2.5       2
2        2     3.0       1
3        2     NaN       2

In [ ]:
dados_fake.groupby('usuario', as_index=False)['medida'].fillna(method='ffill')

   medida
0     NaN
1     2.5
2     3.0
3     3.0

In [ ]:
dados_fake.groupby('usuario', as_index=False)['medida'].fillna(method='ffill').fillna(method='bfill')

   medida
0     2.5
1     2.5
2     3.0
3     3.0

In [ ]:
dados_fake = pd.DataFrame([[1, None, 1],    [1, 2.5, 2],
                           [2, 3.0, 1],     [2, None, 2],
                           [3, None, 1],    [3, 1, 2], [3, None, 3]],
                          columns=['usuario', 'medida', 'janela'])
dados_fake

   usuario  medida  janela
0        1     NaN       1
1        1     2.5       2
2        2     3.0       1
3        2     NaN       2
4        3     NaN       1
5        3     1.0       2
6        3     NaN       3

In [ ]:
dados_fake.groupby('usuario', as_index=False)['medida'].fillna(method='ffill').fillna(method='bfill')

   medida
0     2.5
1     2.5
2     3.0
3     3.0
4     1.0
5     1.0
6     1.0

In [ ]:
dados_fake = pd.DataFrame([[1, None, 1],    [1, 2.5, 2],
                           [2, 3.0, 1],     [2, None, 2],
                           [3, None, 1],    [3, 1, 2],     [3, None, 3],
                           [4, None, 1],    [4, 6, 2],     [4, None, 3],    [4, 5, 4],  [4, None, 5]],
                          columns=['usuario', 'medida', 'janela'])
dados_fake

    usuario  medida  janela
0         1     NaN       1
1         1     2.5       2
2         2     3.0       1
3         2     NaN       2
4         3     NaN       1
5         3     1.0       2
6         3     NaN       3
7         4     NaN       1
8         4     6.0       2
9         4     NaN       3
10        4     5.0       4
11        4     NaN       5

In [ ]:
dados_fake.groupby('usuario', as_index=False)['medida'].fillna(method='ffill').fillna(method='bfill')

    medida
0      2.5
1      2.5
2      3.0
3      3.0
4      1.0
5      1.0
6      1.0
7      6.0
8      6.0
9      6.0
10     5.0
11     5.0

In [ ]:
url = 'https://github.com/marcelagomescorrea/bootcamp_alura/blob/main/Modulo_05/datasets/Kaggle_Sirio_Libanes_ICU_Prediction.xlsx?raw=true'
dados = pd.read_excel(url)
dados.head()

   PATIENT_VISIT_IDENTIFIER  AGE_ABOVE65  ...    WINDOW  ICU
0                         0            1  ...       0-2    0
1                         0            1  ...       2-4    0
2                         0            1  ...       4-6    0
3                         0            1  ...      6-12    0
4                         0            1  ...  ABOVE_12    1

[5 rows x 231 columns]

In [ ]:
features_continuas = dados.iloc[:, 13:-2].columns
features_continuas

Index(['ALBUMIN_MEDIAN', 'ALBUMIN_MEAN', 'ALBUMIN_MIN', 'ALBUMIN_MAX',
       'ALBUMIN_DIFF', 'BE_ARTERIAL_MEDIAN', 'BE_ARTERIAL_MEAN',
       'BE_ARTERIAL_MIN', 'BE_ARTERIAL_MAX', 'BE_ARTERIAL_DIFF',
       ...
       'HEART_RATE_DIFF', 'RESPIRATORY_RATE_DIFF', 'TEMPERATURE_DIFF',
       'OXYGEN_SATURATION_DIFF', 'BLOODPRESSURE_DIASTOLIC_DIFF_REL',
       'BLOODPRESSURE_SISTOLIC_DIFF_REL', 'HEART_RATE_DIFF_REL',
       'RESPIRATORY_RATE_DIFF_REL', 'TEMPERATURE_DIFF_REL',
       'OXYGEN_SATURATION_DIFF_REL'],
      dtype='object', length=216)

In [ ]:
def preenche_tabela(dados):
    features_continuas_colunas = dados.iloc[:, 13:-2].columns
    features_continuas = dados.groupby('PATIENT_VISIT_IDENTIFIER',
                                       as_index=False)[features_continuas_colunas]\
                                       .fillna(method='bfill')\
                                       .fillna(method='ffill')
    features_categoricas = dados.iloc[:, :13]
    saida = dados.iloc[:, -2:]

    dados_finais = pd.concat([features_categoricas, features_continuas, saida],
                             ignore_index=True, axis=1)
    dados_finais.columns = dados.columns
    return dados_finais

In [ ]:
dados_limpos = preenche_tabela(dados)
dados_limpos.head()

   PATIENT_VISIT_IDENTIFIER  AGE_ABOVE65  ...    WINDOW  ICU
0                         0            1  ...       0-2    0
1                         0            1  ...       2-4    0
2                         0            1  ...       4-6    0
3                         0            1  ...      6-12    0
4                         0            1  ...  ABOVE_12    1

[5 rows x 231 columns]

In [ ]:
dados_limpos.describe()

       PATIENT_VISIT_IDENTIFIER  ...          ICU
count               1925.000000  ...  1925.000000
mean                 192.000000  ...     0.267532
std                  111.168431  ...     0.442787
min                    0.000000  ...     0.000000
25%                   96.000000  ...     0.000000
50%                  192.000000  ...     0.000000
75%                  288.000000  ...     1.000000
max                  384.000000  ...     1.000000

[8 rows x 229 columns]

In [ ]:
dados_limpos = dados_limpos.dropna()

In [ ]:
a_remover = dados_limpos.query('WINDOW == "0-2" and ICU==1')['PATIENT_VISIT_IDENTIFIER'].values
dados_limpos = dados_limpos.query('PATIENT_VISIT_IDENTIFIER not in @a_remover')
dados_limpos.describe()

       PATIENT_VISIT_IDENTIFIER  ...          ICU
count               1760.000000  ...  1760.000000
mean                 192.818182  ...     0.201705
std                  110.637724  ...     0.401387
min                    0.000000  ...     0.000000
25%                   97.750000  ...     0.000000
50%                  191.500000  ...     0.000000
75%                  289.250000  ...     0.000000
max                  384.000000  ...     1.000000

[8 rows x 229 columns]

In [ ]:
def prepare_window(rows):
    if(np.any(rows['ICU'])):
        rows.loc[rows['WINDOW'] == '0-2', 'ICU'] = 1

    return rows.loc[rows['WINDOW'] == '0-2']

In [ ]:
dados_limpos = dados_limpos.groupby('PATIENT_VISIT_IDENTIFIER').apply(prepare_window)
dados_limpos.head()

                             PATIENT_VISIT_IDENTIFIER  AGE_ABOVE65  ... WINDOW  ICU
PATIENT_VISIT_IDENTIFIER                                            ...
0                        0                          0            1  ...    0-2    1
2                        10                         2            0  ...    0-2    1
3                        15                         3            0  ...    0-2    0
4                        20                         4            0  ...    0-2    0
5                        25                         5            0  ...    0-2    0

[5 rows x 231 columns]

In [ ]:
y = dados_limpos['ICU']
X = dados_limpos[x_columns].drop(['ICU'], axis=1)

In [ ]:
np.random.seed(74246)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y)

In [ ]:
modelo_dummy = DummyClassifier()
modelo_dummy.fit(X_train, y_train)

y_prediction_dummy = modelo_dummy.predict(X_test)
accuracy_score(y_test, y_prediction_dummy) * 100

/usr/local/lib/python3.6/dist-packages/sklearn/dummy.py:132: FutureWarning:

The default value of strategy will change from stratified to prior in 0.24.

44.31818181818182

In [ ]:
modelo = LogisticRegression()
modelo.fit(X_train, y_train)

y_prediction = modelo.predict(X_test)
accuracy_score(y_test, y_prediction) * 100

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning:

lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression

70.45454545454545

### Super Desafio 07

Não usar backfill da janela e após a pessoa ter ido para UTI

### Desafio 08 - Removendo colunas desnecessárias

Arranque fora as colunas que não devem ser utilizadas.