In [ ]:
import pandas as pd

In [ ]:
carros = {'Marca': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Preco': [22000,25000,27000,35000]
        }

In [ ]:
dados = pd.DataFrame(carros)

In [ ]:
dados.head()

            Marca  Preco
0     Honda Civic  22000
1  Toyota Corolla  25000
2      Ford Focus  27000
3         Audi A4  35000

In [ ]:
dados.style.set_properties(**{'background-color':'blue',
                              'color':'white',
                              'border-color':'black'
                             })

In [ ]:
def cor_orcamento(val):
  
  if val <= 25000:
    color = 'red'
  else:
    color = 'black'

  return 'color: %s' % color

In [ ]:
dados.style.applymap(cor_orcamento, subset='Preco')

In [ ]:
dados.style.applymap(cor_orcamento, subset='Preco').to_excel('estilizado.xlsx', engine='openpyxl')